@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&display=swap');

@layer base{
    button{
        @apply font-montserrat flex rounded p-1 py-2 px-2 items-center
    }
}

.scrollbar-hide::webkit-scrollbar{
    displa:none;
}

.scrollbar-hide{
    -ms-overflow-style:none;
    srollbar-width:none;
}