@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&display=swap");

@layer base {
  button {
    @apply font-montserrat flex rounded p-1 py-2 px-2 items-center;
  }
}

body{
  background-color: #1a1a1a;
}

.bgcolor {
  background-color: #1a1a1a;
}

.scrollbar-hide::webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  srollbar-width: none;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  //background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #106580;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FBC94A;
}
